#statistics .dash-tile {
  border-radius: 7px;
  background-color: #fff;
  color: #333;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(230 230 230 / var(--tw-border-opacity));
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}

#statistics .dash-tile-text {
  color: #333;
}

.fa-users:before {
  content: "\f0c0";
  color: #5bc0de;
}

#statistics i.fa:before {
  color: #5bc0de;
}

#statistics .key-metric .value .currency-symbol {
  font-size: 16px;
}

#statistics .key-metric .value .currency-symbol:after {
  content: " ";
}

#statistics .dash-tile-header {
  font-size: 18px;
  display: block;
  font-weight: 500 !important;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
}

#statistics .dash-tile-content {
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 10px !important;
}

.rs-picker-date-menu
  .rs-calendar-show-week-numbers
  .rs-calendar-table-cell-week-number {
  background-color: rgb(38, 115, 221);
  color: white;
  font-weight: bold;
}

.rs-picker-date-menu
  .rs-calendar-show-week-numbers
  .rs-calendar-table-row:hover
  .rs-calendar-table-cell-content {
  background-color: rgb(38, 115, 221);
  color: #fff;
}

.rs-picker-date-menu
  .rs-calendar-show-week-numbers
  .rs-calendar-table-row:not(.rs-calendar-table-header-row):hover
  .rs-calendar-table-cell-content {
  background-color: rgb(38, 115, 221);
  color: #fff;
}

.rs-picker-date-menu
  .rs-calendar-show-week-numbers
  .rs-calendar-table-row
  .rs-calendar-table-cell.rs-calendar-table-cell-selected
  ~ .rs-calendar-table-cell
  .rs-calendar-table-cell-content {
  background-color: rgb(38, 115, 221);
  color: #fff;
}

.rs-btn-primary {
  background-color: rgb(38, 115, 221) !important;
}

.rs-picker-date-menu
  .rs-calendar-show-week-numbers
  .rs-calendar-table-row:not(.rs-calendar-table-header-row):has(
    .rs-calendar-table-cell-selected
  )
  .rs-calendar-table-cell-content {
  background-color: rgb(38, 115, 221);
  background-color: rgb(38, 115, 221);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  color: var(--rs-calendar-date-selected-text);
}

.statistics-chart {
  margin-left: 0;
  margin-right: 0;
}

.statistics-chart .btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.statistics-chart .dash-tile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statistics-chart .btn-type-of-time {
  background-color: #fff;
  color: #333;
  margin-right: 10px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.statistics-chart .btn-type-of-time.selected {
  background-color: rgb(38, 115, 221);
  color: #fff;
}

.key-metric[data-v-ca3d5102] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 16px 8px 16px 16px;
  min-width: 185px;
  background: #fff;
  border-top: 4px solid rgb(38, 115, 221);
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}

.title[data-v-ca3d5102] {
  flex: 1;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500 !important;
}

.value[data-v-ca3d5102] {
  margin-top: 4px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 500 !important;
  color: #333;
  display: flex;
  align-items: end;
}
